@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --background: rgb(244, 208, 78);
     --spacing-150: 0.75em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Figtree", sans-serif;
    min-height: 100vh;
    background-color: var(--background);
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.card {
    background-color: white;
    padding: 1rem;
    max-width: 90%;
    width: 384px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 0 rgb(0 0 0);
    transition: box-shadow 0.2s ease;
}

.card:hover{
    box-shadow: 10px 10px 0 rgb(0 0 0);
}

.card:hover .card__title {
  color: var(--background);
}



.card__image {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.card__category{
    background-color: var(--background);
    margin-top: 1rem;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    
}

.card__category span{
    font-size: 0.9rem;
    font-weight: 700;
}

.card__date {
    font-size: 0.9rem;
    line-height: 1.5; 
}

.card__title {
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.5;
}

.card__description {
    color: #6B6B6B;
    font-size: 1rem;
    line-height: 1.5;
}

.card__author {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}

.card__author-avatar{
    width: 2rem;
    height: auto;
}

.card__author-name{
    font-weight: 700;
}

@media screen and (max-width: 425px) {
    .card{
        gap: 0.75rem;
        width: 327px;
    }
    
    .card__title {
        font-size: 1.1rem;
    }

    .card__description {
        font-size: 0.9rem;
    }
}

